.main_section{
    .navbar.bg-body-tertiary{
        .container-fluid{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            .navbar-brand{
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}


.action_icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    img{
        width: 15px;
        cursor: pointer;
        &:hover{
            width: 14px;
        }
    }
}