<section class="main_section">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Shop List</a>
            <button class="btn btn-outline-success" type="submit" (click)="showModel()">+</button>
        </div>
    </nav>
    
    <table class="table table-sm table-primary table-striped table-bordered">
        <caption>List of Shops</caption>
    
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Shop Name</th>
                <th scope="col">Email</th>
                <th scope="col">Location</th>
                <th scope="col">Phone Number</th>
                <th scope="col" style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
    
    
            @for (item of listShops; track item._id) {
            <tr>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.shop_name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.location}}</td>
                <td>{{item.ph_no}}</td>
    
                <td [width]="80">
                    <span class="action_icons">
                        <img src="../../../../assets/imgs/pen.png" alt="" (click)="showModel(item)" />
                        <img src="../../../../assets/imgs/bin.png" alt="" />
                    </span>
                </td>
            </tr>
    
            }@empty {
            <tr>
                <td>Empty list of shops</td>
            </tr>
            }
        </tbody>
    </table>
    
    <!-- model file -->
    <app-model [open]="modelShow" [selectedObject]="selectedData" (closePop)="closePop($event)" ></app-model>
</section>

<section class="loader">
    <app-loader></app-loader>
</section>