/* You can add global styles to this file, and also import other style files */


// @import "./assets/scss/main.scss";
// @import "./assets/scss/bootstrap.css";

@import "./assets/scss/ng-zorro.css";

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.model-popup {
    // -------------- pop up scss ------------ //
    position: absolute;
    height: calc(100% - -40px);
    width: 100%;
    background: rgb(181 178 178 / 50%);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;

    .model-popover-comp {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        // padding: 15px;
        // background: #fff;
    }
}

.w-100 {
    width: 100%;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poetsen-one-regular-20{
    font-size: 20px;
}